<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Электронный склад</title>
</head>
<body>
    <header>
        <h1>Система управления электронным складом</h1>
    </header>

    <div class="body">
        {% for cell in storage.unique_cells %}
                    <p>Позиция: {{cell.name if not cell.merged else cell.merged_with}}. <b>Товар: {{ cell.contained_item.name if cell.contained_item else "Свободно"}}</b>{% if cell.contained_item %} <button>Получить</button> {% endif %}</p>
        {% endfor %}
    </div>
</body>
</html>