<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Электронный склад</title>
</head>
<body>
    <header>
        <h1>Система управления электронным складом</h1>
    </header>

    <div class="body">
        {% for cell in storage.unique_cells %}
                {% if not cell.merged  %}
                    <p>Позиция: {{cell.name}}. <b>Товар: {{ cell.contained_item.name if cell.contained_item else "Свободно"}}</b></p>
                {% endif %}

                {% if cell.merged%}
                    <p>Позиция: {{ cell.merged_with}}. <b>Товар: {{ cell.contained_item.name}}</b></p>
                {% endif %}
        {% endfor %}
    </div>
</body>
</html>