<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Электронный склад</title>
</head>
<body>
    <header>
        <h1>Система управления электронным складом</h1>
    </header>

    <div class="body">
        {% for item_num in range(len_of_array) %}
            <p><b>Товар: {{ items[item_num].name }}<br/>
                Габариты: {{ items[item_num].original_height+"*"+items[item_num].original_width+"*"+items[item_num].original_depth }}<br/>
                Масса: {{ items[item_num].mass }}<br/>
                UUID: {{ items[item_num].uuid }}</b><br/>{% if not cells %}<br/>{% endif %}
                {% if cells %}
                    <b>Полка: {{cells[item_num].name if not cells[item_num].merged else cells[item_num].merged_with}}</b><br/><br/>
                {% endif %}
            </p>
            {% if cells %}

                <img src="{{ url_for('static', filename='img/scheme.png') }}" alt=""/>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>
