<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Электронный склад</title>
        <style>
   .name {
    text-align:  center;
   }
   .author{
       text-align: left;
   }
  </style>
</head>
<body>
    <header>
        <h3 class="author">©ПиФла 2021</h3>

            {% if report and not cells %}
                <h1 class="name">Отчет о добавлении позиций на удаленный склад.</h1>
            {% endif %}

            {% if cells %}
                <h1 class="name">Отчет о добавлении позиций на склад.</h1>
            {% endif %}
        <h2 class="name">Система управления электронным складом.</h2>
    </header>

    <div class="body">
        {% for item_num in range(len_of_array) %}
            <p><b>Товар: {{ items[item_num].name }}<br/>
                Габариты: {{ items[item_num].original_height+"*"+items[item_num].original_width+"*"+items[item_num].original_depth }}<br/>
                Масса: {{ items[item_num].mass }}<br/>
                UUID: {{ items[item_num].uuid }}</b><br/>{% if not cells %}<br/>{% endif %}
                {% if cells %}
                    <b>Полка: {{cells[item_num].name if not cells[item_num].merged else cells[item_num].merged_with}}</b><br/><br/>
                {% endif %}
            </p>
        {% endfor %}

    {% if cells %}

                <img src="http://192.168.0.109:3000/get_storage_scheme" alt=""/>
            {% endif %}
    </div>
</body>
</html>
